<div class="modal-header modal-title">
  <h5 class="modal-sm" [translate]="'user.add'">Add user</h5>
</div>
<div class="modal-body">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <form class="form" role="form" #userManagementForm="ngForm" (ngSubmit)="saveUser()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="firstName" [translate]="'user.name'">FirstName</label>
            <input type="text"
                   [(ngModel)]="user.firstName"
                   class="form-control"
                   id="firstName"
                   name="firstName"
                   placeholder="{{'user.name' | translate}}"
                   #firstName="ngModel"
                   required
                   maxlength="50">
            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                 class="error-msg">
              <div *ngIf="firstName.errors.required" [translate]="'error.required.firstName'">
                First name is required.
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="lastName" [translate]="'user.lastName'">LastName</label>
            <input type="text"
                   [(ngModel)]="user.lastName"
                   class="form-control"
                   id="lastName"
                   name="lastName"
                   placeholder="{{'user.lastName' | translate}}"
                   #lastName="ngModel"
                   maxlength="50">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="username" [translate]="'user.username'">Username</label>
            <input type="text"
                   [(ngModel)]="user.userName"
                   class="form-control"
                   id="username"
                   name="username"
                   placeholder="{{'user.username' | translate}}"
                   #username="ngModel"
                   required
                   pattern="^[_.@A-Za-z0-9-]*$"
                   maxlength="50">
            <div *ngIf="username.invalid && (username.dirty || username.touched)"
                 class="error-msg">
              <div *ngIf="username.errors.required" [translate]="'error.required.username'">
                Username is required.
              </div>
              <div *ngIf="username.errors.pattern" [translate]="'error.required.pattern'">
                Username is invalid.
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="email" [translate]="'user.email'">Email</label>
            <div class="input-group">
              <input type="email"
                     [(ngModel)]="user.email"
                     class="form-control"
                     id="email"
                     name="email"
                     placeholder="{{'user.email' | translate}}"
                     #email="ngModel"
                     required
                     minlength="5"
                     maxlength="254">
              <div *ngIf="email.invalid && (email.dirty || email.touched)"
                   class="error-msg">
                <div *ngIf="email.errors.required" [translate]="'error.required.email'">
                  Email is required.
                </div>
                <div *ngIf="email.errors.minlength" [translate]="'error.minLength.email'">
                  Min 5 characters.
                </div>
                <div *ngIf="email.errors.maxlength" [translate]="'error.maxLength.email'">
                  Max 254 characters.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="langKey" [translate]="'user.language'">Language</label>
            <select id="langKey" class="form-control"
                    name="langKey"
                    [(ngModel)]="user.langKey"
                    #langKey="ngModel"
                    required>
              <option *ngFor="let lang of languages" [value]="lang">
                {{lang}}
              </option>
            </select>
            <div *ngIf="langKey.invalid && (langKey.dirty || langKey.touched)"
                 class="error-msg">
              <div *ngIf="langKey.errors.required" [translate]="'error.required.language'">
                Language is required.
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="isAdmin" [translate]="'user.employee'">Employee</label>
            <select id="isAdmin" class="form-control"
                    name="isAdmin"
                    [(ngModel)]="user.isAdmin"
                    #isAdmin="ngModel"
                    required>
              <option *ngFor="let element of values" [value]="element.val">
                {{element.key | translate}}
              </option>
            </select>
            <div *ngIf="isAdmin.invalid && (isAdmin.dirty || isAdmin.touched)"
                 class="error-msg">
              <div *ngIf="isAdmin.errors.required" [translate]="'error.required.admin'">
                Administrator value is required.
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary"
                [disabled]="!userManagementForm.valid"
                [translate]="'general.save'"> Save
        </button>
        <button type="button" (click)="cancel()" class="btn btn-danger table-button-search"
                [translate]="'general.cancel'"> Cancel
        </button>
      </form>
    </div>
  </div>
</div>


