<section class="mag-posts-area d-flex flex-wrap">
  <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
    <div class="row">
      <div class="col-sm-2">
        <button [translate]="'shopping.backBooks'" routerLink="/search-book"
                class="btn btn-primary button-size">Back to shopping books
        </button>
      </div>
      <div class="col-sm-3">
        <button [translate]="'shopping.backMagazines'" routerLink="/search-magazine"
                class="btn btn-primary button-size table-button-search">Back to shopping magazines
        </button>
      </div>
      <div class="col-sm-3" *ngIf="elementList.length > 0">
        <button class="btn btn-dark"
                (click)="shippingDialog(checkoutModal)"
                [translate]="'general.checkout'">Shipping Information
        </button>
      </div>
      <div class="col-sm-4" style="margin-top: 6px" *ngIf="elementList.length > 0">
        <app-paypal [config]="payPalConfig"></app-paypal>
      </div>
    </div>
    <p style="padding-top: 20px" [translate]="'general.emptyCart'" *ngIf="elementList.length === 0 && load"></p>
    <div style="padding-top: 20px" class="table-responsive" *ngIf="elementList.length > 0">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col"></th>
          <th scope="col" [translate]="'book.title'">Title</th>
          <th scope="col" [translate]="'shopping.cant'">Cant</th>
          <th scope="col" [translate]="'shopping.price'">Price</th>
          <th scope="col" [translate]="'shopping.total'">Total</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let element of elementList; trackBy: trackIdentity">
          <td>
            <img *ngIf="element.image" src="{{element.image}}" height="190px" width="125px">
            <img *ngIf="!element.image" src="assets/images/image.gif" height="190px" width="125px">
          </td>
          <td style="padding-top: 13%"><strong>{{element.title}}</strong></td>
          <td style="padding-top: 13%"><strong>{{element.cant}}</strong>
            <a style="margin-left: 5px" href="javascript:void(0);"
               (click)="addElement(element)">
              <i class="fa fa-plus-square"></i>
            </a>
            <a style="margin-left: 5px" href="javascript:void(0);"
               (click)="deleteOne(element)">
              <i class="fa fa-minus-square"></i>
            </a>
          </td>
          <td style="padding-top: 13%"><strong>{{'(USD) ' + element.salePrice}}</strong></td>
          <td style="padding-top: 12.5%; font-size: 20px">
            <strong>
              {{'(USD) ' + (element.mount)}}
            </strong>
          </td>
          <td style="padding-top: 12%">
            <button class="btn btn-danger table-button-delete"
                    (click)="removeProduct(element)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr *ngIf="elementList.length > 0">
          <td></td>
          <td></td>
          <td style="font-size: 20px" colspan="2"><span [translate]="'shopping.shipping'">Shipping cost</span>
          </td>
          <td style="font-size: 20px">
            <span>{{'(USD) ' + shippingCost}}</span>
          </td>
          <td></td>
        </tr>
        <tr *ngIf="elementList.length > 0">
          <td></td>
          <td></td>
          <td style="font-size: 20px" colspan="2"><strong [translate]="'shopping.totalAmount'">Total amount</strong>
          </td>
          <td style="font-size: 22px">
            <strong>{{'(USD) ' + total}}</strong>
          </td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<ng-template #checkoutModal let-modal let-c="close" let-d="dismiss">
  <div class="modal-header modal-title">
    <h5 class="modal-lg" [translate]="'general.shipping'">Shipping information</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <form class="form" role="form" #shippingForm="ngForm" (ngSubmit)="saveShippingInfo()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="fullName" [translate]="'cart.fullName'">Full name</label>
              <input type="text"
                     [(ngModel)]="shippingInfo.fullName"
                     class="form-control"
                     id="fullName"
                     name="fullName"
                     placeholder="{{'cart.fullName' | translate}}"
                     #fullName="ngModel"
                     required
                     maxlength="350">
              <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)"
                   class="error-msg">
                <div *ngIf="fullName.errors.required" [translate]="'error.required.fullName'">
                  Full name is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="email" [translate]="'cart.email'">Email</label>
              <input type="email"
                     [(ngModel)]="shippingInfo.email"
                     class="form-control"
                     id="email"
                     name="email"
                     placeholder="{{'cart.email' | translate}}"
                     #email="ngModel"
                     required
                     maxlength="150">
              <div *ngIf="email.invalid && (email.dirty || email.touched)"
                   class="error-msg">
                <div *ngIf="email.errors.required" [translate]="'error.required.email'">
                  Email is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="phone" [translate]="'cart.phone'">Phone</label>
              <input type="text"
                     [(ngModel)]="shippingInfo.phone"
                     class="form-control"
                     id="phone"
                     name="phone"
                     placeholder="{{'cart.phone' | translate}}"
                     #phone="ngModel"
                     required
                     maxlength="100">
              <div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                   class="error-msg">
                <div *ngIf="phone.errors.required" [translate]="'error.required.phone'">
                  Phone is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="country" [translate]="'cart.country'">Country</label>
              <ng-select [items]="countryList"
                         id="country"
                         name="country"
                         bindLabel="{{currentLang === 'en' ? 'englishName': 'spanishName'}}"
                         [virtualScroll]="true"
                         placeholder="{{'cart.country' | translate}}"
                         #country="ngModel"
                         [(ngModel)]="shippingInfo.country"
                         required>
              </ng-select>
              <div *ngIf="country.invalid && (country.dirty || country.touched)"
                   class="error-msg">
                <div *ngIf="country.errors.required" [translate]="'error.required.country'">
                  Country is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="state" [translate]="'cart.state'">State</label>
              <input type="text"
                     [(ngModel)]="shippingInfo.state"
                     class="form-control"
                     id="state"
                     name="state"
                     placeholder="{{'cart.state' | translate}}"
                     maxlength="100">
            </div>
            <div class="form-group col-md-6">
              <label for="city" [translate]="'cart.city'">City</label>
              <input type="text"
                     [(ngModel)]="shippingInfo.city"
                     class="form-control"
                     id="city"
                     name="city"
                     placeholder="{{'cart.city' | translate}}"
                     #city="ngModel"
                     required
                     maxlength="100">
              <div *ngIf="city.invalid && (city.dirty || city.touched)"
                   class="error-msg">
                <div *ngIf="city.errors.required" [translate]="'error.required.city'">
                  City is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="postalCode" [translate]="'cart.postalCode'">Postal code</label>
              <input type="text"
                     [(ngModel)]="shippingInfo.postalCode"
                     class="form-control"
                     id="postalCode"
                     name="postalCode"
                     placeholder="{{'cart.postalCode' | translate}}"
                     #postalCode="ngModel"
                     required
                     maxlength="100">
              <div *ngIf="postalCode.invalid && (postalCode.dirty || postalCode.touched)"
                   class="error-msg">
                <div *ngIf="postalCode.errors.required" [translate]="'error.required.postalCode'">
                  Postal code is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="address" [translate]="'cart.address'">Address</label>
              <input type="text"
                     [(ngModel)]="shippingInfo.address"
                     class="form-control"
                     id="address"
                     name="address"
                     placeholder="{{'cart.address' | translate}}"
                     #address="ngModel"
                     required>
              <div *ngIf="address.invalid && (address.dirty || address.touched)"
                   class="error-msg">
                <div *ngIf="address.errors.required" [translate]="'error.required.address'">
                  Address is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <button type="submit" class="btn btn-primary"
                      [disabled]="!shippingForm.valid"
                      [translate]="'general.save'"> Save
              </button>
              <button type="button" (click)="cancelShippingInfo()"
                      class="btn btn-danger table-button-search"
                      [translate]="'general.cancel'"> Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
