<nav class="navbar navbar-dark navbar-expand-md nav-back">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button"
            (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent"
         [ngClass]="{ 'show': navbarOpen }"
         ngbDropdown [ngSwitch]="isAuthenticated()">
      <ul class="nav navbar-nav ml-auto">
        <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle
             href="javascript:void(0);" id="flag-menu">
            <i class="fa fa-flag"></i>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li>
              <a class="dropdown-item" id="en"
                 [ngClass]="{ 'active': enActive }"
                 (click)="useLanguage('en')"
                 href="javascript:void(0);">
                <span>English</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" id="es"
                 [ngClass]="{ 'active': !enActive }"
                 (click)="useLanguage('es')"
                 href="javascript:void(0);">
                <span>Español</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a routerLink="shipping-cost" class="nav-link waves-effect waves-light">
            <i class="fa fa-truck"></i>
            {{'sideBar.shippingCost' | translate}}
          </a>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0);" class="nav-link waves-effect waves-light" (click)="showContacts(contacts)">
            <i class="fa fa-envelope"></i> {{'navBar.contact' | translate}}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle *ngSwitchCase="false"
             href="javascript:void(0);" id="account-menu" [translate]="'user.account'">
            <!--<i class="fa fa-user"></i>-->
            <i class="fa fa-user"></i> Account
          </a>
          <a class="nav-link dropdown-toggle" ngbDropdownToggle *ngSwitchCase="true"
             href="javascript:void(0);" id="account-menu1">
            <!--<i class="fa fa-user"></i>-->
            <i class="fa fa-user"></i> {{userData}}
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li *ngSwitchCase="true">
              <a class="dropdown-item" id="apkid" href="swagger-ui.html#/">
                <span>API</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a class="dropdown-item" id="login" (click)="login()" href="javascript:void(0);">
                <span [translate]="'login.signIn'">Sign in</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a class="dropdown-item" id="register" (click)="register()" href="javascript:void(0);">
                <span [translate]="'login.register'">Register</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a class="dropdown-item" id="info" (click)="accountInfo()" href="javascript:void(0);">
                <span [translate]="'login.info'">Account info</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a class="dropdown-item" id="change-pass" (click)="changePassword(changeUserPass)"
                 href="javascript:void(0);">
                <!--<fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>-->
                <span [translate]="'user.changePass'">Change password</span>
                <!--<i class="fa fa-sign-in"></i>-->
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a class="dropdown-item" id="logout" (click)="logout()" href="javascript:void(0);">
                <!--<fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>-->
                <span [translate]="'login.logout'">Sign out</span>
                <!--<i class="fa fa-sign-in"></i>-->
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<ng-template #changeUserPass let-modal>
  <div class="modal-header modal-title">
    <h5 class="modal-sm" [translate]="'user.changePass'">Change password</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <form class="form" role="form" #changePass="ngForm" (ngSubmit)="save()">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="oldPassword" [translate]="'user.oldPassword'">Old password</label>
                <input type="password"
                       [(ngModel)]="currentPassword"
                       class="form-control"
                       id="oldPassword"
                       name="oldPassword"
                       placeholder="{{'user.password' | translate}}"
                       #oldPassword="ngModel"
                       required
                       maxlength="50">
                <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)"
                     class="error-msg">
                  <div *ngIf="oldPassword.errors.required" [translate]="'error.required.oldPassword'">
                    Current password is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="password" [translate]="'user.password'">Password</label>
                <input type="password"
                       [(ngModel)]="newPassword"
                       class="form-control"
                       id="password"
                       name="password"
                       placeholder="{{'user.password' | translate}}"
                       #password="ngModel"
                       required
                       minlength="5"
                       maxlength="50">
                <div *ngIf="password.invalid && (password.dirty || password.touched)"
                     class="error-msg">
                  <div *ngIf="password.errors.required" [translate]="'error.required.password'">
                    Password is required.
                  </div>
                  <div *ngIf="password.errors.minlength" [translate]="'error.minLength.password'">
                    Your password is required to be at least 5 characters.
                  </div>
                </div>
                <app-password-strength-bar [passwordToCheck]="newPassword"></app-password-strength-bar>
              </div>
              <div class="form-group col-md-6">
                <label for="passwordConfirm" [translate]="'user.passwordTwo'">Confirm password</label>
                <input type="password"
                       [(ngModel)]="confirmPassword"
                       class="form-control"
                       id="passwordConfirm"
                       name="passwordConfirm"
                       placeholder="{{'user.passwordTwo' | translate}}"
                       #passwordConfirm="ngModel"
                       minlength="5"
                       maxlength="50"
                       required>
                <div *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)"
                     class="error-msg">
                  <div *ngIf="passwordConfirm.errors.required" [translate]="'error.required.passwordTwo'">
                    Confirm password is required.
                  </div>
                  <div *ngIf="passwordConfirm.errors.minlength" [translate]="'error.minLength.password'">
                    Confirm password is required to be at least 5 characters.
                  </div>
                </div>
                <div *ngIf="passwordConfirm.dirty || passwordConfirm.touched" class="error-msg">
                  <div *ngIf="twoPass()" [translate]="'error.equalPassword'">
                    Confirm password must be equal than password.
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary"
                    [disabled]="!changePass.valid || twoPass()"
                    [translate]="'general.save'"> Save
            </button>
            <button type="button" (click)="cancel()" class="btn btn-danger table-button-search"
                    [translate]="'general.cancel'"> Cancel
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #contacts let-modal>
  <div class="modal-header modal-title">
    <h5 class="modal-sm" [translate]="'navBar.contact'">Contacts</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-7">
        <div style="margin-top:20px;border-bottom: thin groove;">
          <h5 class="d-block">{{currentLang === 'en' ? uiData.nameEnglish : uiData.nameSpanish}}</h5>
        </div>
        <div style="margin-top:20px;border-bottom: thin groove;">
          <h6 class="d-block">{{uiData.address}}</h6>
        </div>
        <div style="margin-top:20px;border-bottom: thin groove;">
          <h5 class="d-block">{{uiData.phone}}</h5>
        </div>
        <div style="margin-top:20px;border-bottom: thin groove;">
          <h5 class="d-block">{{uiData.email}}</h5>
        </div>
      </div>
      <div class="col-sm-5">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="18">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button style="margin-left: 80%; margin-top: 20px" type="button" (click)="cancel()"
                class="btn btn-danger table-button-search"
                [translate]="'general.close'">Close
        </button>
      </div>
    </div>
  </div>
</ng-template>
