<section class="mag-posts-area d-flex flex-wrap">
  <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
    <form #topicSearchForm="ngForm" (submit)="getTopics('btn')">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name" [translate]="'topic.name'">Name</label>
          <input type="text"
                 [(ngModel)]="topic.name"
                 class="form-control"
                 id="name"
                 name="name"
                 placeholder="{{'topic.name' | translate}}">
        </div>
      </div>
      <button type="submit" class="btn btn-primary"
              [translate]="'general.search'"><i class="fa fa-search"></i> Search
      </button>
      <button type="button" class="btn btn-success table-button-search"
              (click)="addTopic()"
              [translate]="'topic.add'"><i class="fa fa-plus-square"></i> Add topic
      </button>
    </form>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
      <tr>
        <th scope="col" [translate]="'topic.englishName'">englishName</th>
        <th scope="col" [translate]="'topic.spanishName'">spanishName</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="topicList.length === 0">
        <td colspan="6" align="center" class="table-empty" [translate]="'general.empty'">Elements not found!</td>
      </tr>
      <tr *ngFor="let topic of topicList; trackBy: trackIdentity">
        <td scope="row">{{topic.englishName}}</td>
        <td scope="row">{{topic.spanishName}}</td>
        <td>
          <button class="btn btn-primary table-button"
                  (click)="editTopic(topic)"><i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-danger table-button-delete"
                  (click)="openDialog(deleteTopic, topic)"><i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
<ngb-pagination class="d-flex justify-content-center"
                [collectionSize]="totalItems"
                [(page)]="page"
                [pageSize]="itemsPerPage"
                [maxSize]="5"
                [rotate]="true"
                [boundaryLinks]="true"
                (pageChange)="getTopics(null)"></ngb-pagination>

<ng-template #deleteTopic let-modal>
  <div class="modal-header modal-title">
    <h5 class="modal-sm" [translate]="'topic.delete'">Delete topic</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <h5><strong>{{currentLang === 'en' ? remTopic.englishName: remTopic.spanishName}}</strong> <span
          [translate]="'general.sureMessage1'"></span></h5>
        <h5 [translate]="'general.sureMessage'">Are you sure?</h5>
      </div>
      <div class="col-md-8" style="margin-left: 60%">
        <button type="submit" class="btn btn-primary"
                (click)="removeTopic()"
                [translate]="'general.confirm'"> Confirm
        </button>
        <button type="button" (click)="cancelMy()" class="btn btn-danger table-button-search"
                [translate]="'general.cancel'"> Cancel
        </button>
      </div>
    </div>
  </div>
</ng-template>
