<footer class="footer">
  <div class="legal">
    © {{'footer.info' | translate}} <a href="https://www.bookstore.com">bookstore.com</a>
    <br>
    <a class="waves-effect waves-light active" href="">
      <i class="fa fa-twitter"></i>
    </a>  &nbsp;|&nbsp;
    <a class="waves-effect waves-light active" href="">
      <i class="fa fa-facebook-official"></i>
    </a>  &nbsp;|&nbsp;
    <a class="waves-effect waves-light active" href="">
      <i class="fa fa-google-plus"></i>
    </a>
  </div>
</footer>
