/* ---------------------------------------------------
    FOOTER STYLE
----------------------------------------------------- */
footer .legal {
  text-align: center;
  padding: 20px 0px;
}

footer * {
  font-size: 11px;
  color: rgb(109, 110, 112);
  line-height: 17px;
}
.footer{
  background-color: #272c33;
  height: 80px;
}
