<!--<nav class="navbar navbar-dark navbar-expand-md navColor">-->
<!--&lt;!&ndash;<nav class="navbar navbar-expand-lg navbar-light bg-light">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="navbar-brand" routerLink="/search-general">&ndash;&gt;-->
<!--&lt;!&ndash;<img src="assets/images/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;BooksStore&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--<button class="navbar-toggler" type="button"-->
<!--(click)="toggleNavbar()">-->
<!--<span class="navbar-toggler-icon"></span>-->
<!--</button>-->
<!--<div class="collapse navbar-collapse" ngbDropdown-->
<!--[ngClass]="{ 'show': navbarOpen }" [ngSwitch]="isAuthenticated()">-->
<!--&lt;!&ndash;<ul class="navbar-nav mr-auto">&ndash;&gt;-->
<!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="nav-link" routerLink="search-general" routerLinkActive="active">Home <span&ndash;&gt;-->
<!--&lt;!&ndash;class="sr-only">(current)</span></a>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="nav-link" routerLink="search-book" routerLinkActive="active">Books</a>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="nav-link" routerLink="search-magazine" routerLinkActive="active">Magazines</a>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="nav-link" routerLink="product-car" routerLinkActive="active">Shopping car</a>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--<ul class="navbar-nav ml-auto nav-flex-icons">-->
<!--<li class="nav-item">-->
<!--<a class="nav-link waves-effect waves-light active" routerLink="">-->
<!--<i class="fa fa-twitter"></i>-->
<!--</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link waves-effect waves-light active" routerLink="">-->
<!--<i class="fa fa-facebook-official"></i>-->
<!--</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link waves-effect waves-light active" routerLink="">-->
<!--<i class="fa fa-google-plus"></i>-->
<!--</a>-->
<!--</li>-->
<!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="nav-link waves-effect waves-light active" routerLink="">&ndash;&gt;-->
<!--<i class="fa fa-envelope"></i> Contact-->
<!--&lt;!&ndash;<span class="sr-only">(current)</span>&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--<li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right">-->
<!--<a class="nav-link dropdown-toggle active" ngbDropdownToggle href="javascript:void(0);" id="account-menu">-->
<!--<i class="fa fa-user"></i>-->
<!--&lt;!&ndash;<i class="fa fa-user"></i> Profile&ndash;&gt;-->
<!--</a>-->
<!--<ul class="dropdown-menu" ngbDropdownMenu>-->
<!--<li *ngSwitchCase="false">-->
<!--<a class="dropdown-item" id="login" (click)="login()" href="javascript:void(0);">-->
<!--&lt;!&ndash;<fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>&ndash;&gt;-->
<!--<span>Sign in</span>-->
<!--&lt;!&ndash;<i class="fa fa-sign-in"></i>&ndash;&gt;-->
<!--</a>-->
<!--</li>-->
<!--<li *ngSwitchCase="true">-->
<!--<a class="dropdown-item" id="logout" (click)="logout()" href="javascript:void(0);">-->
<!--&lt;!&ndash;<fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>&ndash;&gt;-->
<!--<span>Sign out</span>-->
<!--&lt;!&ndash;<i class="fa fa-sign-in"></i>&ndash;&gt;-->
<!--</a>-->
<!--</li>-->
<!--&lt;!&ndash;<li *ngSwitchCase="false">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="dropdown-item" routerLink="product-list" routerLinkActive="active" (click)="collapseNavbar()">&ndash;&gt;-->
<!--&lt;!&ndash;<span>Register</span>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<i class="fa fa-user-plus"></i>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</nav>-->
<nav class="navbar navbar-dark navbar-expand-md nav-back">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button"
            (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent"
         [ngClass]="{ 'show': navbarOpen }"
         ngbDropdown [ngSwitch]="isAuthenticated()">
      <ul class="nav navbar-nav ml-auto">
        <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle
             href="javascript:void(0);" id="flag-menu">
            <i class="fa fa-flag"></i>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li>
              <a class="dropdown-item" id="en"
                 [ngClass]="{ 'active': enActive }"
                 (click)="useLanguage('en')"
                 href="javascript:void(0);">
                <span>En</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" id="es"
                 [ngClass]="{ 'active': !enActive }"
                 (click)="useLanguage('es')"
                 href="javascript:void(0);">
                <span>Es</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0);" class="nav-link waves-effect waves-light">
            <i class="fa fa-envelope"></i> {{'navBar.contact' | translate}}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <!--<li class="nav-item">-->
        <!--<a href="javascript:void(0);" class="nav-link waves-effect waves-light">-->
        <!--<i class="fa fa-cart-plus"></i>-->
        <!--</a>-->
        <!--</li>-->
        <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle *ngSwitchCase="false"
             href="javascript:void(0);" id="account-menu" [translate]="'user.account'">
            <!--<i class="fa fa-user"></i>-->
            <i class="fa fa-user"></i> Account
          </a>
          <a class="nav-link dropdown-toggle" ngbDropdownToggle *ngSwitchCase="true"
             href="javascript:void(0);" id="account-menu1">
            <!--<i class="fa fa-user"></i>-->
            <i class="fa fa-user"></i> {{getUserData()}}
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li *ngSwitchCase="false">
              <a class="dropdown-item" id="login" (click)="login()" href="javascript:void(0);">
                <span [translate]="'login.signIn'">Sign in</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a class="dropdown-item" id="register" (click)="register()" href="javascript:void(0);">
                <span [translate]="'login.register'">Register</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a class="dropdown-item" id="change-pass" (click)="changePassword(changeUserPass)"
                 href="javascript:void(0);">
                <!--<fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>-->
                <span [translate]="'user.changePass'">Change password</span>
                <!--<i class="fa fa-sign-in"></i>-->
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a class="dropdown-item" id="api" routerLink="docs">
                <span>API</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a class="dropdown-item" id="apki" routerLink="/v2/api-docs">
                <span>APkI</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a class="dropdown-item" id="logout" (click)="logout()" href="javascript:void(0);">
                <!--<fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>-->
                <span [translate]="'login.logout'">Sign out</span>
                <!--<i class="fa fa-sign-in"></i>-->
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<ng-template #changeUserPass let-modal>
  <div class="modal-header modal-title">
    <h5 class="modal-sm" [translate]="'user.changePass'">Change password</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <form class="form" role="form" #changePass="ngForm" (ngSubmit)="save()">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="oldPassword" [translate]="'user.oldPassword'">Old password</label>
                <input type="password"
                       [(ngModel)]="currentPassword"
                       class="form-control"
                       id="oldPassword"
                       name="oldPassword"
                       placeholder="{{'user.password' | translate}}"
                       #oldPassword="ngModel"
                       required
                       maxlength="50">
                <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)"
                     class="error-msg">
                  <div *ngIf="oldPassword.errors.required" [translate]="'error.required.oldPassword'">
                    Current password is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="password" [translate]="'user.password'">Password</label>
                <input type="password"
                       [(ngModel)]="newPassword"
                       class="form-control"
                       id="password"
                       name="password"
                       placeholder="{{'user.password' | translate}}"
                       #password="ngModel"
                       required
                       minlength="5"
                       maxlength="50">
                <div *ngIf="password.invalid && (password.dirty || password.touched)"
                     class="error-msg">
                  <div *ngIf="password.errors.required" [translate]="'error.required.password'">
                    Password is required.
                  </div>
                  <div *ngIf="password.errors.minlength" [translate]="'error.minLength.password'">
                    Your password is required to be at least 5 characters.
                  </div>
                </div>
                <jhi-password-strength-bar [passwordToCheck]="newPassword"></jhi-password-strength-bar>
              </div>
              <div class="form-group col-md-6">
                <label for="passwordConfirm" [translate]="'user.passwordTwo'">Confirm password</label>
                <input type="password"
                       [(ngModel)]="confirmPassword"
                       class="form-control"
                       id="passwordConfirm"
                       name="passwordConfirm"
                       placeholder="{{'user.passwordTwo' | translate}}"
                       #passwordConfirm="ngModel"
                       minlength="5"
                       maxlength="50"
                       required>
                <div *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)"
                     class="error-msg">
                  <div *ngIf="passwordConfirm.errors.required" [translate]="'error.required.passwordTwo'">
                    Confirm password is required.
                  </div>
                  <div *ngIf="passwordConfirm.errors.minlength" [translate]="'error.minLength.password'">
                    Confirm password is required to be at least 5 characters.
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary"
                    [disabled]="!changePass.valid"
                    [translate]="'general.save'"> Save
            </button>
            <button type="button" (click)="cancel()" class="btn btn-danger table-button-search"
                    [translate]="'general.cancel'"> Cancel
            </button>
          </form>
        </div>

        <div class="col-md-10" style="margin-top: 10px">
          <app-alert-dialog></app-alert-dialog>
        </div>
      </div>
    </div>
  </div>
</ng-template>
