<section class="mag-posts-area d-flex flex-wrap">
  <!--<div class="col-md-12" style="margin-top: 10px">-->
  <!--<app-alert></app-alert>-->
  <!--</div>-->
  <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
    <form #magazineSearchForm="ngForm" (submit)="getMagazines('btn', false)">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="title" [translate]="'search.title'">Title</label>
          <input type="text"
                 [(ngModel)]="search.title"
                 class="form-control" id="title" name="title" placeholder="{{'search.title' | translate}}">
        </div>
        <div class="form-group col-md-4">
          <label for="publisher" [translate]="'book.editor'">Publisher</label>
          <input class="form-control"
                 [(ngModel)]="search.editor"
                 id="publisher" name="publisher" type="text"
                 placeholder="{{'book.editor' | translate}}">
        </div>
        <div class="form-group col-md-4">
          <label for="city" [translate]="'editor.editionCity'">Edition city</label>
          <input class="form-control"
                 id="city" type="text" name="city"
                 [(ngModel)]="search.editionCity"
                 placeholder="{{'book.city' | translate}}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="topic" [translate]="'book.topic'">Topic</label>
          <ng-select [items]="topics"
                     id="topic"
                     name="topic"
                     bindLabel="{{currentLang === 'en' ? 'englishName': 'spanishName'}}"
                     [virtualScroll]="true"
                     [multiple]="true"
                     placeholder="{{'book.topic' | translate}}"
                     [(ngModel)]="search.topicList">
          </ng-select>
        </div>
        <div class="form-group col-md-4">
          <label for="isbn" [translate]="'book.isbn'">ISBN</label>
          <input class="form-control"
                 [(ngModel)]="search.isbn"
                 id="isbn" name="isbn" type="text"
                 placeholder="{{'book.isbn' | translate}}">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-8 col-sm-8">
          <button type="submit" class="btn btn-primary button-size" [translate]="'search.button'">
            <i class="fa fa-search"></i> Search
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
      <tr>
        <th scope="col" style="width: 15%;" [translate]="'book.title'" (click)="getMagazines('title', true)">Title
          <i class="fa fa-sort" style="margin-left: 5px"></i>
        </th>
        <th scope="col" style="width: 15%;" [translate]="'book.editor'">Publisher</th>
        <th scope="col" style="width: 15%;" [translate]="'editor.editionCity'">Edition city</th>
        <th scope="col" style="width: 12%" [translate]="'magazine.publishYear'" (click)="getMagazines('publishYear', true)">
          EditionYear <i
          class="fa fa-sort" style="margin-left: 5px"></i></th>
        <th scope="col" style="width: 10%" [translate]="'book.price'" (click)="getMagazines('salePrice', true)">Price
          <i class="fa fa-sort" style="margin-left: 5px"></i>
        </th>
        <th scope="col" style="width: 12%"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="magazineList.length === 0">
        <td colspan="8" align="center" class="table-empty" [translate]="'general.empty'">Elements not found!</td>
      </tr>
      <tr *ngFor="let magazine of magazineList; trackBy: trackIdentity">
        <td>{{magazine.title}}</td>
        <td>{{magazine.editors}}</td>
        <td>{{magazine.cities}}</td>
        <td>{{magazine.publishYear}}</td>
        <td>{{('(USD) ') + magazine.salePrice}}</td>
        <td>
          <button class="btn btn-success table-button"
                  data-toggle="tooltip"
                  data-placement="left"
                  title="{{'general.details' | translate}}"
                  (click)="magazineDetails(details, magazine)">
            <i style="font-size: 12px" class="fa fa-book"></i>
          </button>
          <button class="btn btn-primary table-button-delete"
                  data-toggle="tooltip"
                  data-placement="left"
                  title="{{'general.addCar' | translate}}"
                  (click)="addToCar(magazine);">
            <i style="font-size: 12px" class="fa fa-cart-plus"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
<ngb-pagination class="d-flex justify-content-center"
                [collectionSize]="totalItems"
                [(page)]="page"
                [pageSize]="itemsPerPage"
                [maxSize]="5"
                [rotate]="true"
                [boundaryLinks]="true"
                (pageChange)="getMagazines(null, false)"></ngb-pagination>

<ng-template #details let-modal>
  <div class="modal-header modal-title">
    <h5 class="modal-sm" [translate]="'magazine.detail'">Book details</h5>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-8" style="border-bottom: thin groove;">
          <h4 class="d-block" [translate]="'book.title'">Title</h4>
          <p style="margin-bottom: 10px;">{{selectedMagazine.title}}</p>
        </div>
        <div class="col-4">
          <img *ngIf="!selectedMagazine.image" height="190" width="125" alt="" src="assets/images/image.gif"
               style="position: absolute">
          <img *ngIf="selectedMagazine.image" height="190" width="125" alt="" src="{{selectedMagazine.image}}"
               style="position: absolute">
        </div>
        <div class="col-8" style="margin-top:20px;border-bottom: thin groove;">
          <h4 class="d-block" [translate]="'book.editor'">Publisher</h4>
          <p style="margin-bottom: 10px">{{selectedMagazine.editors}}</p>
        </div>
        <div class="col-12" style="margin-top:20px;border-bottom: thin groove;">
          <h4 class="d-block" [translate]="'book.city'">City</h4>
          <p style="margin-bottom: 10px">{{selectedMagazine.cities}}</p>
        </div>
        <div class="col-6" style="margin-top:20px;border-bottom: thin groove;">
          <h4 class="d-block" [translate]="'magazine.publishYear'">Publish year</h4>
          <p style="margin-bottom: 10px">{{selectedMagazine.publishYear}}</p>
        </div>
        <div class="col-6" style="margin-top:20px;border-bottom: thin groove;">
          <h4 class="d-block" [translate]="'magazine.frequency'">Frequency</h4>
          <p style="margin-bottom: 10px">{{selectedMagazine.frequency}}</p>
        </div>
        <div class="col-6 to-text" style="margin-top:20px;border-bottom: thin groove;">
          <h4 class="d-block" [translate]="'book.weight1'">Weight(Kg)</h4>
          <p style="margin-bottom: 10px">{{selectedMagazine.weight}}</p>
        </div>
        <div class="col-6 to-text" style="margin-top:20px;border-bottom: thin groove;">
          <h4 class="d-block" [translate]="'book.isbn'">ISBN</h4>
          <p style="margin-bottom: 10px">{{selectedMagazine.isbn}}</p>
        </div>
        <div class="col-6 to-text" style="margin-top:20px;border-bottom: thin groove;">
          <h4 class="d-block" [translate]="'book.topic'">Size</h4>
          <p style="margin-bottom: 10px">{{currentLang === 'en' ? selectedMagazine.topicsEnglish :
            selectedMagazine.topicsSpanish}}</p>
        </div>
        <div class="col-6" style="margin-top:20px;border-bottom: thin groove;">
          <h4 class="d-block" [translate]="'book.salePrice'">Price</h4>
          <p style="margin-bottom: 10px">{{'(USD) ' + selectedMagazine.salePrice}}</p>
        </div>
      </div>
    </div>
    <div style="margin-top: 20px">
      <button type="button" (click)="addToCar(selectedMagazine)" class="btn btn-info" [translate]="'general.addCar'"><i
        class="fa fa-cart-plus"></i> Add to car
      </button>
      <button type="button" (click)="cancel()" class="btn btn-danger table-button-search" [translate]="'general.close'">
        <i
          class="fa fa-window-close"></i> Close
      </button>
    </div>
  </div>
</ng-template>
