<aside id="sidebar">
  <div class="sidebar-header">
    <h3><i class="fa fa-bookmark"></i> {{'sideBar.menu' | translate}}</h3>
    <strong [translate]="'sideBar.menuResp'">BS</strong>
  </div>

  <ul class="list-unstyled components">
    <li routerLinkActive="active">
      <a routerLink="search-general" class="a-sidebar"><i class="fa fa-home"></i>
        {{'sideBar.home' | translate}}
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="search-book" class="a-sidebar"><i class="fa fa-search"></i>
        {{'sideBar.books' | translate}}
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="search-magazine" class="a-sidebar">
        <i class="fa fa-search"></i>
        {{'sideBar.magazines' | translate}}
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="cart" class="a-sidebar">
        <i class="fa fa-shopping-cart"></i>
        {{'sideBar.car' | translate}} <span class="badge badge-pill badge-warning">{{cartCant}}</span>
      </a>
    </li>
  </ul>
  <ul class="list-unstyled components">
    <li *hasAnyAuthority="'user-list'" routerLinkActive="active">
      <a routerLink="user-list" class="a-sidebar"><i class="fa fa-angle-double-right"></i>
        {{'sideBar.user' | translate}}
      </a>
    </li>
    <li *hasAnyAuthority="'book-list'" routerLinkActive="active">
      <a routerLink="book-list" class="a-sidebar"><i class="fa fa-angle-double-right"></i>
        {{'sideBar.book' | translate}}
      </a>
    </li>
    <li *hasAnyAuthority="'author-list'" routerLinkActive="active">
      <a routerLink="author-list" class="a-sidebar"><i class="fa fa-angle-double-right"></i>
        {{'sideBar.author' | translate}}
      </a>
    </li>
    <li *hasAnyAuthority="'editor-list'" routerLinkActive="active">
      <a routerLink="editor-list" class="a-sidebar"><i class="fa fa-angle-double-right"></i>
        {{'sideBar.editor' | translate}}
      </a>
    </li>
    <li *hasAnyAuthority="'topic-list'" routerLinkActive="active">
      <a routerLink="topic-list" class="a-sidebar"><i class="fa fa-angle-double-right"></i>
        {{'sideBar.topic' | translate}}
      </a>
    </li>
    <li *hasAnyAuthority="'magazine-list'" routerLinkActive="active">
      <a routerLink="magazine-list" class="a-sidebar"><i class="fa fa-angle-double-right"></i>
        {{'sideBar.magazine' | translate}}
      </a>
    </li>
  </ul>
  <!--<div class="my-carousel img-text">-->
    <!--<ngb-carousel *ngIf="images" [interval]="3000" [showNavigationIndicators]="true"-->
                  <!--[showNavigationArrows]="false">-->
      <!--<ng-template ngbSlide>-->
        <!--<div class="item">-->
          <!--<a href="javascript:void(0);"-->
             <!--class="d-block mb-4 h-100 img-text">-->
            <!--<figure>-->
              <!--<img src="assets/images/img.jpg" height="190" width="125" alt=""/>-->
              <!--<figcaption>-->
                <!--$ghjghj-->
              <!--</figcaption>-->
              <!--<figcaption>-->
                <!--ghjghjgh-->
              <!--</figcaption>-->
            <!--</figure>-->
          <!--</a>-->
        <!--</div>-->
      <!--</ng-template>-->
      <!--<ng-template ngbSlide>-->
        <!--<div class="item">-->
          <!--<a href="javascript:void(0);"-->
             <!--class="d-block mb-4 h-100 img-text">-->
            <!--<figure>-->
              <!--<img src="assets/images/login.png" height="190" width="125" alt=""/>-->
              <!--<figcaption>-->
                <!--$ghjghj-->
              <!--</figcaption>-->
              <!--<figcaption>-->
                <!--ghjghjgh-->
              <!--</figcaption>-->
            <!--</figure>-->
          <!--</a>-->
        <!--</div>-->
      <!--</ng-template>-->
    <!--</ngb-carousel>-->
  <!--</div>-->
</aside>
