
body {
  font-family: 'Open Sans';
}

.button-size {
  font-size: 17px;
}

label {
  /*font-weight: bold;*/
}

.a-sidebar {
  color: #f1f2f7 !important;
  font-style: normal;
}

a:hover {
  text-decoration: none;
}

/* :: 3.1.0 Spacing */
.mb-15 {
  margin-bottom: 15px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-50 {
  padding: 50px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.px-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.pt-30 {
  padding-top: 30px;
}

.box-shadow {
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.15) !important;
}

/* :: 3.6.0 ScrollUp */
#scrollUp {
  background-color: #000000;
  border-radius: 0;
  bottom: 50px;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  line-height: 42px;
  right: 50px;
  text-align: center;
  width: 40px;
  border-radius: 0%;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

#scrollUp:hover, #scrollUp:focus {
  background-color: #ed3974;
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
  #scrollUp {
    bottom: 30px;
    right: 30px;
    line-height: 32px;
    width: 30px;
    height: 30px;
  }
}

/* :: 3.7.0 mag Button */
.mag-btn {
  background-color: #ed3974;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  position: relative;
  z-index: 1;
  display: inline-block;
  min-width: 160px;
  height: 50px;
  color: #ffffff;
  border-radius: 0;
  padding: 0 30px;
  font-size: 16px;
  line-height: 50px;
  font-weight: 500;
  text-transform: capitalize;
}

.mag-btn:hover, .mag-btn:focus {
  font-size: 16px;
  font-weight: 500;
  background-color: #000000;
  color: #ffffff;
}

/*/* :: 6.0 Post Area CSS */
.mag-posts-area {
  position: relative;
  z-index: 1;
  padding: 0 15px;
}

.mag-posts-content {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 690px);
  flex: 0 0 calc(100% - 690px);
  max-width: calc(100% - 690px);
  width: calc(100% - 690px);
  margin-left: 15px;
  margin-right: 15px;
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mag-posts-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 650px);
    flex: 0 0 calc(100% - 30px);
    max-width: calc(100% - 0px);
    width: calc(100% - 0px);
  }

  .book-list {
    padding-left: 60px;
  }

  .table-button-delete {
    margin-left: 5px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .mag-posts-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 30px);
    flex: 0 0 calc(100% - 130px);
    max-width: calc(100% - 130px);
    width: calc(100% - 30px);
  }

  .book-list {
    padding-left: 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mag-posts-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 30px);
    flex: 0 0 calc(100% - 30px);
    max-width: calc(100% - 30px);
    width: calc(100% - 30px);
  }

  .book-list {
    padding-left: 0px;
  }

  .table-button-delete {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .mag-posts-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 30px);
    flex: 0 0 calc(100% - 30px);
    max-width: calc(100% - 30px);
    width: calc(100% - 30px);
  }

  .book-list {
    padding-left: 0px;
  }

  .table-button-delete {
    margin-left: 0px;
  }
}

.img-text {
  text-align: center;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.item {
  position: relative;
  display: inline-block;
}

/*.notify-badge {*/
/*position: absolute;*/
/*right: -20px;*/
/*top: 10px;*/
/*background: red;*/
/*text-align: center;*/
/*border-radius: 30px 30px 30px 30px;*/
/*color: white;*/
/*padding: 10px 10px;*/
/*font-size: 10px;*/
/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*}*/

/*.notify-badge-used {*/
/*position: absolute;*/
/*right: -20px;*/
/*top: 10px;*/
/*background: #5b5b5b;*/
/*text-align: center;*/
/*border-radius: 30px 30px 30px 30px;*/
/*color: white;*/
/*padding: 10px 10px;*/
/*font-size: 10px;*/
/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*}*/

.my-custom-class {
  top: 50px !important;
  font-size: 20px;
}

figcaption {
  width: 130px;
}

.table-button-search {
  margin-left: 5px;
}

.table-empty {
  margin-left: 50%;
  margin-right: 50%;
  background-color: #f7f2f2;
}

.modal-title {
  background-color: #272c33;
  color: #aaaaaa;
}

.ng-invalid.ng-touched {
  border-color: #dc3545;
}

ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: #dc3545;
}

/*.ng-valid[required],*/
/*.ng-valid.required {*/
/*border-left: 5px solid green;*/
/*}*/

.error-msg {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.msg {
  height: 130px;
  padding-top: 30px;
  border-radius: 5px 5px 5px 5px;
  align-items: center;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Arial;
}
