<section class="mag-posts-area d-flex flex-wrap">
  <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
    <form #userSearchForm="ngForm" (submit)="getUsers('btn')">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstName" [translate]="'user.name'">FirstName</label>
          <input type="text"
                 [(ngModel)]="user.firstName"
                 class="form-control"
                 id="firstName"
                 name="firstName"
                 placeholder="{{'user.name' | translate}}">
        </div>
        <div class="form-group col-md-6">
          <label for="lastName" [translate]="'user.lastName'">LastName</label>
          <input type="text"
                 [(ngModel)]="user.lastName"
                 class="form-control"
                 id="lastName"
                 name="lastName"
                 placeholder="{{'user.lastName' | translate}}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="username" [translate]="'user.username'">Username</label>
          <input type="text"
                 [(ngModel)]="user.userName"
                 class="form-control"
                 id="username"
                 name="username"
                 placeholder="{{'user.username' | translate}}">
        </div>
        <div class="form-group col-md-6">
          <label for="email" [translate]="'user.email'">Email</label>
          <input type="text"
                 [(ngModel)]="user.email"
                 class="form-control"
                 id="email"
                 name="email"
                 placeholder="{{'user.email' | translate}}">
        </div>
      </div>
      <button type="submit" class="btn btn-primary"
              [translate]="'general.search'"><i class="fa fa-search"></i> Search
      </button>
      <button type="button" class="btn btn-success table-button-search"
              (click)="addUser()"
              [translate]="'user.add'"><i class="fa fa-plus-square"></i> Add user
      </button>
    </form>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
      <tr>
        <th scope="col" [translate]="'user.name'">Name</th>
        <th scope="col" [translate]="'user.lastName'">LastName</th>
        <th scope="col" [translate]="'user.username'">Username</th>
        <th scope="col" [translate]="'user.email'">Email</th>
        <th scope="col" [translate]="'user.type'">Type</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="userList.length === 0">
        <td colspan="5" align="center" class="table-empty" [translate]="'general.empty'">Elements not found!</td>
      </tr>
      <tr *ngFor="let user of userList; trackBy: trackIdentity">
        <td scope="row">{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.email}}</td>
        <td *ngIf="user.isAdmin === 'true'" [translate]="'user.employee'"></td>
        <td *ngIf="user.isAdmin === 'false'" [translate]="'user.customer'"></td>
        <td>
          <button class="btn btn-primary table-button"
                  (click)="editUser(user)"><i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-danger table-button-delete"
                  (click)="openDialog(deleteUser, user)"><i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
<ngb-pagination class="d-flex justify-content-center"
                [collectionSize]="totalItems"
                [(page)]="page"
                [pageSize]="itemsPerPage"
                [maxSize]="5"
                [rotate]="true"
                [boundaryLinks]="true"
                (pageChange)="getUsers(null)"></ngb-pagination>

<ng-template #deleteUser let-modal>
  <div class="modal-header modal-title">
    <h5 class="modal-sm" [translate]="'user.delete'">Delete user</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <h5><strong>{{remUser.fullName}}</strong> <span [translate]="'general.sureMessage1'"></span></h5>
        <h5 [translate]="'general.sureMessage'">Are you sure?</h5>
      </div>
      <div class="col-md-8" style="margin-left: 60%">
        <button type="submit" class="btn btn-primary"
                (click)="removeUser()"
                [translate]="'general.confirm'"> Confirm
        </button>
        <button type="button" (click)="cancel()" class="btn btn-danger table-button-search"
                [translate]="'general.cancel'"> Cancel
        </button>
      </div>
    </div>
  </div>
</ng-template>
