<div class="modal-header modal-title">
  <h5 class="modal-sm" [translate]="'author.add'">Add author</h5>
</div>
<div class="modal-body">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <form class="form" role="form" #authorManagementForm="ngForm" (ngSubmit)="saveAuthor()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="firstName" [translate]="'user.name'">FirstName</label>
            <input type="text"
                   [(ngModel)]="author.firstName"
                   class="form-control"
                   id="firstName"
                   name="firstName"
                   placeholder="{{'user.name' | translate}}"
                   #firstName="ngModel"
                   required
                   maxlength="50">
            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                 class="error-msg">
              <div *ngIf="firstName.errors.required" [translate]="'error.required.firstName'">
                First name is required.
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="lastName" [translate]="'user.lastName'">LastName</label>
            <input type="text"
                   [(ngModel)]="author.lastName"
                   class="form-control"
                   id="lastName"
                   name="lastName"
                   placeholder="{{'user.lastName' | translate}}"
                   #lastName="ngModel"
                   maxlength="50">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="country" [translate]="'author.country'">Country</label>
            <ng-select [items]="countryList"
                       id="country"
                       name="country"
                       bindLabel="{{currentLang === 'en' ? 'englishName': 'spanishName'}}"
                       [virtualScroll]="true"
                       placeholder="{{'author.country' | translate}}"
                       [(ngModel)]="author.country">
            </ng-select>
          </div>
          <div class="form-group col-md-4">
            <label for="state" [translate]="'author.state'">State</label>
            <input type="text"
                   [(ngModel)]="author.state"
                   class="form-control"
                   id="state"
                   name="state"
                   placeholder="{{'author.state' | translate}}"
                   #state="ngModel"
                   maxlength="100">
          </div>
          <div class="form-group col-md-4">
            <label for="city" [translate]="'author.city'">City</label>
            <input type="text"
                   [(ngModel)]="author.city"
                   class="form-control"
                   id="city"
                   name="city"
                   placeholder="{{'author.city' | translate}}"
                   #city="ngModel"
                   maxlength="100">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="bornDate" [translate]="'author.bornDate'">Born date</label>
            <input type="date"
                   [(ngModel)]="author.bornDate"
                   class="form-control"
                   id="bornDate"
                   name="bornDate"
                   placeholder="{{'author.bornDate' | translate}}"
                   #bornDate="ngModel">
          </div>
          <div class="form-group col-md-4">
            <label for="deathDate" [translate]="'author.deathDate'">Death date</label>
            <input type="date"
                   [(ngModel)]="author.deathDate"
                   class="form-control"
                   id="deathDate"
                   name="deathDate"
                   placeholder="{{'author.deathDate' | translate}}"
                   #deathDate="ngModel">
          </div>
        </div>
        <button type="submit" class="btn btn-primary"
                [disabled]="!authorManagementForm.valid"
                [translate]="'general.save'"> Save
        </button>
        <button type="button" (click)="cancel()" class="btn btn-danger table-button-search"
                [translate]="'general.cancel'"> Cancel
        </button>
      </form>
    </div>
  </div>
</div>
