<section style="margin-left: 30px; margin-right: 30px;margin-top: 40px">
  <div class="row">
    <div class="col-sm-12">
      <form class="form" role="form" #contactManagementForm="ngForm" (ngSubmit)="saveUIData()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="nameEnglish" [translate]="'contact.nameEnglish'">Name in english</label>
            <input type="text"
                   [(ngModel)]="uiData.nameEnglish"
                   class="form-control"
                   id="nameEnglish"
                   name="nameEnglish"
                   placeholder="{{'contact.nameEnglish' | translate}}"
                   #nameEnglish="ngModel"
                   required
                   maxlength="350">
            <div *ngIf="nameEnglish.invalid && (nameEnglish.dirty || nameEnglish.touched)"
                 class="error-msg">
              <div *ngIf="nameEnglish.errors.required" [translate]="'error.required.nameEnglish'">
                Name in english is required.
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="nameSpanish" [translate]="'contact.nameSpanish'">LastName</label>
            <input type="text"
                   [(ngModel)]="uiData.nameSpanish"
                   class="form-control"
                   id="nameSpanish"
                   name="nameSpanish"
                   placeholder="{{'contact.nameSpanish' | translate}}"
                   #nameSpanish="ngModel"
                   required
                   maxlength="350">
            <div *ngIf="nameSpanish.invalid && (nameSpanish.dirty || nameSpanish.touched)"
                 class="error-msg">
              <div *ngIf="nameSpanish.errors.required" [translate]="'error.required.nameSpanish'">
                Name in spanish is required.
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="email" [translate]="'contact.email'">Email</label>
            <input type="text"
                   [(ngModel)]="uiData.email"
                   class="form-control"
                   id="email"
                   name="email"
                   placeholder="{{'contact.email' | translate}}"
                   #email="ngModel"
                   required
                   maxlength="350">
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                 class="error-msg">
              <div *ngIf="email.errors.required" [translate]="'error.required.email'">
                Email is required.
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="phone" [translate]="'contact.phone'">Phone</label>
            <input type="text"
                   [(ngModel)]="uiData.phone"
                   class="form-control"
                   id="phone"
                   name="phone"
                   placeholder="{{'contact.phone' | translate}}"
                   #phone="ngModel"
                   required
                   maxlength="350">
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                 class="error-msg">
              <div *ngIf="phone.errors.required" [translate]="'error.required.phone'">
                Phone is required.
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="twitter" [translate]="'contact.twitter'">Twitter</label>
            <input type="text"
                   [(ngModel)]="uiData.twitter"
                   class="form-control"
                   id="twitter"
                   name="twitter"
                   placeholder="{{'contact.twitter' | translate}}"
                   #twitter="ngModel"
                   maxlength="350">
          </div>
          <div class="form-group col-md-6">
            <label for="facebook" [translate]="'contact.facebook'">Facebook</label>
            <input type="text"
                   [(ngModel)]="uiData.facebook"
                   class="form-control"
                   id="facebook"
                   name="facebook"
                   placeholder="{{'contact.facebook' | translate}}"
                   #facebook="ngModel"
                   maxlength="350">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="instagram" [translate]="'contact.instagram'">Instagram</label>
            <input type="text"
                   [(ngModel)]="uiData.instagram"
                   class="form-control"
                   id="instagram"
                   name="instagram"
                   placeholder="{{'contact.instagram' | translate}}"
                   #instagram="ngModel"
                   maxlength="350">
          </div>
          <div class="form-group col-md-6">
            <label for="google" [translate]="'contact.google'">Google+</label>
            <input type="text"
                   [(ngModel)]="uiData.google"
                   class="form-control"
                   id="google"
                   name="google"
                   placeholder="{{'contact.google' | translate}}"
                   #google="ngModel"
                   maxlength="350">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-9">
            <label for="address" [translate]="'contact.address'">Address</label>
            <input type="text"
                   [(ngModel)]="uiData.address"
                   class="form-control"
                   id="address"
                   name="address"
                   placeholder="{{'contact.address' | translate}}"
                   #address="ngModel"
                   required
                   maxlength="350">
            <div *ngIf="address.invalid && (address.dirty || address.touched)"
                 class="error-msg">
              <div *ngIf="address.errors.required" [translate]="'error.required.address'">
                Address is required.
              </div>
            </div>
          </div>
          <div class="form-group col-md-3">
            <label for="shipmentPercent" [translate]="'contact.shipmentPercent'">Shipment percent(%)</label>
            <input type="number"
                   [(ngModel)]="uiData.shipmentPercent"
                   class="form-control"
                   id="shipmentPercent"
                   name="shipmentPercent"
                   placeholder="{{'contact.address' | translate}}"
                   #shipmentPercent="ngModel"
                   min="1">
            <div *ngIf="address.invalid && (address.dirty || address.touched)"
                 class="error-msg">
              <div *ngIf="address.errors.required" [translate]="'error.required.address'">
                Address is required.
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label [translate]="'contact.mainTextEnglish'">Main text in english</label>
            <angular-editor id="editor1"
                            name="editor1"
                            [(ngModel)]="uiData.mainTextEnglish"
                            required
                            [config]="config">
            </angular-editor>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label [translate]="'contact.mainTextSpanish'">Main text in spanish</label>
            <angular-editor id="editor2"
                            name="editor2"
                            [(ngModel)]="uiData.mainTextSpanish"
                            required
                            [config]="config">
            </angular-editor>
          </div>
        </div>
        <button type="submit" class="btn btn-primary"
                [disabled]="!contactManagementForm.valid || load"
                [translate]="'general.save'"> Save
        </button>
      </form>
    </div>
  </div>
  <div style="margin-top: 20px" class="row"></div>
</section>
