/* ---------------------------------------------------
    FOOTER STYLE
----------------------------------------------------- */
footer .legal {
  text-align: center;
  padding: 20px 0px;
  font-size: 15px;
}

footer * {
  font-size: 11px;
  color: white;
  line-height: 17px;
}
.footer{
  background-color: #FF5733;
  height: 80px;
}
