<footer class="footer">
  <div class="legal">
    {{'footer.info' | translate}} © {{currentLang === 'en' ? uiData.nameEnglish : uiData.nameSpanish}} &nbsp;|&nbsp;
    {{uiData.phone}} &nbsp;|&nbsp; {{uiData.email}}
    <br>
    <a *ngIf="uiData.twitter" class="waves-effect waves-light active" [href]="uiData.twitter">
      <i class="fa fa-twitter"></i>
    </a>
    <span *ngIf="uiData.facebook"> &nbsp;|&nbsp; </span>
    <a *ngIf="uiData.facebook" class="waves-effect waves-light active" [href]="uiData.facebook">
      <i class="fa fa-facebook-official"></i>
    </a>
    <span *ngIf="uiData.google"> &nbsp;|&nbsp; </span>
    <a *ngIf="uiData.google" class="waves-effect waves-light active" [href]="uiData.google">
      <i class="fa fa-google-plus"></i>
    </a>
    <span *ngIf="uiData.instagram"> &nbsp;|&nbsp; </span>
    <a *ngIf="uiData.instagram" class="waves-effect waves-light active" [href]="uiData.instagram">
      <i class="fa fa-instagram"></i>
    </a>
  </div>
</footer>
